DATABASE_URL=jdbc:postgresql://localhost:54322/postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
SENTRY_DSN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_REALTIME_ENABLED=false
SUPABASE_REALTIME_TOPIC_PREFIX=room
SPRING_PROFILES_ACTIVE=
SWAGGER_USERNAME=
SWAGGER_PASSWORD=
